<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.springer.springerplugin"
        version="1.1.0">

  <name>SpringerPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.9.0"/>
  </engines>

  <asset src="www/SpringerPlugin.js" target="js/SpringerPlugin.js"/>

  <js-module src="www/SpringerPlugin.js" name="SpringerPlugin">
    <clobbers target="SpringerPlugin" />
  </js-module>

  

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="SpringerPlugin">
        <param name="ios-package" value="SpringerPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/SpringerPlugin.h" />
    <source-file src="src/ios/SpringerPlugin.m" />
  </platform>



</plugin>